.intro__description {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  padding: 0 35px 0 70px;
}

@media screen and (max-width: 728px) {
  .intro__description:nth-of-type(1) {
    order: 1;
    padding: 40px 35px 0 40px;
    max-width: 560px;
  }
}
